<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.jpetstore.persistence.AccountMapper">

  <select id="getAccountByUsername" parameterType="string" resultType="account">
    select
          signon.username,
          account.email,
          account.firstname,
          account.lastname,
          account.status,
          account.addr1 as addr1,
          account.addr2 as addr2,
          account.city,
          account.state,
          account.zip,
          account.country,
          account.phone,
          profile.langpref as languagePreference,
          profile.favcategory as favouriteCategoryId,
          profile.mylistopt as listOption,
          profile.banneropt as bannerOption,
          bannerdata.bannername
    from account, profile, signon, bannerdata
    where account.userid = #{username}
      and signon.username = account.userid
      and profile.userid = account.userid
      and profile.favcategory = bannerdata.favcategory
  </select>

  <select id="getAccountByUsernameAndPassword" parameterType="account" resultType="account">
    select
      signon.username,
      account.email,
      account.firstname,
      account.lastname,
      account.status,
      account.addr1 as address1,
      account.addr2 as address2,
      account.city,
      account.state,
      account.zip,
      account.country,
      account.phone,
      profile.langpref as languagePreference,
      profile.favcategory as favouriteCategoryId,
      profile.mylistopt as listOption,
      profile.banneropt as bannerOption,
      bannerdata.bannername
    from account, profile, signon, bannerdata
    where account.userid = #{username}
      and signon.password = #{password}
      and signon.username = account.userid
      and profile.userid = account.userid
      and profile.favcategory = bannerdata.favcategory
  </select>

  <update id="updateAccount" parameterType="account">
    update account set
      email = #{email},
      firstname = #{firstName},
      lastname = #{lastName},
      status = #{status},
      addr1 = #{addr1},
      addr2 = #{addr2,jdbcType=VARCHAR},
      city = #{city},
      state = #{state},
      zip = #{zip},
      country = #{country},
      phone = #{phone}
    where userid = #{username}
  </update>

  <insert id="insertAccount" parameterType="account">
    INSERT INTO account
      (email, firstname, lastname, status, addr1, addr2, city, state, zip, country, phone, userid)
    VALUES
      (#{email}, #{firstName}, #{lastName}, #{status}, #{addr1},  #{addr2,jdbcType=VARCHAR}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{username})
  </insert>

  <update id="updateProfile" parameterType="account">
    UPDATE profile SET
      langpref = #{languagePreference},
      favcategory = #{favouriteCategoryId},
      mylistopt = #{listOption},
      BANNEROPT = #{bannerOption}
    WHERE userid = #{username}
  </update>

  <insert id="insertProfile" parameterType="account">
    INSERT INTO profile (langpref, favcategory, mylistopt, banneropt, userid)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{listOption}, #{bannerOption}, #{username})
  </insert>

  <update id="updateSignon" parameterType="account">
    update signon set PASSWORD = #{password}
    where username = #{username}
  </update>

  <insert id="insertSignon" parameterType="account">
    insert into signon (PASSWORD,USERNAME)
    values (#{password}, #{username})
  </insert>

</mapper>